server:
  port: 8081

spring:
  datasource:
    url: jdbc:postgresql://localhost:5433/portfolio_tracker
    username: portfolio
    password: portfolio

  jpa:
    hibernate:
      ddl-auto: validate

  flyway:
    enabled: true
    locations: classpath:db/migration

logging:
  level:
    org.flywaydb: DEBUG